.wow-vc-elements {
    &.wow-vc-gravityforms{
        .gform_wrapper{
            margin: 0;
            .gform_footer {
                padding: 0;
                input[type=submit] {
                    margin: 0;
                }
            }
            .gform_body {
                .gform_fields {
                    .gfield {
                        padding: 0;
                        .ginput_container {
                            input,
                            textarea,
                            select {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
        &.wow-vc-style-1 {
            .gform_body {
                .gform_fields {
                    .gfield {
                        margin: 0 0 1rem 0;
                        border: 1px solid #e8e8e8;
                        padding: 0;
                        span {
                            label{
                                display: none;
                            }
                        }
                        label,
                        .ginput_container {
                            margin: 0;
                            padding: 1rem 1rem;
                            width: 100%;
                            input,
                            textarea,
                            select {
                                margin: 0;
                                background: none;
                                font-size: inherit;
                                font-family: inherit;
                                padding: 5px 4px;
                                letter-spacing: normal;
                                border: 0;
                                box-shadow: none;
                            }
                        }
                        label {
                            border-bottom: 1px solid #e8e8e8;
                            text-transform: uppercase;
                            font-weight: normal;
                            display: block;
                            background: #f9f9f9;
                        }
                        .ginput_container {
                            @media only screen and (max-width: 767px) {
                                display: flex;
                                flex-direction: column;
                                box-sizing: border-box;
                                width: 100%;
                                margin: 0 !important;
                                > * {
                                    padding: 0;
                                    display: block;
                                    width: 100%;
                                    flex: 0 0 100%;
                                    max-width: 100%;
                                    + * {
                                        border-top: 1px solid #e8e8e8;
                                        margin-top: .5rem;
                                        margin-bottom: 0;
                                        input,textarea,select {
                                            margin-top: .5rem;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        &.wow-vc-style-2 {
            .gform_body {
                .gform_fields {
                    .gfield {
                        margin: 0 0 1rem 0;
                        padding: 0;
                        label,
                        .ginput_container {
                            margin: 0;
                            input,
                            textarea,
                            select {
                                margin: 0;
                            }
                        }
                        label {
                            display: block;
                            margin-bottom: .25rem;
                        }
                        @media only screen and (min-width: 767px) {
                            display: flex;
                            flex-direction: row;
                            flex-wrap: nowrap;
                            margin-bottom: 2rem;
                            label {
                                flex: 0 0 20%;
                                max-width: 20%;
                                margin: 0;
                                white-space: nowrap;
                                padding-top: .25rem;
                            }
                            .ginput_container {
                                flex: 0 0 80%;
                                max-width: 80%;
                                width: 80%;
                                padding-left: 1rem;
                                > span:last-child {
                                    padding-right: 0;
                                }
                                input,textarea,select {
                                    width: 100% !important;
                                }
                            }
                           
                        }
                    }
                }
            }
            .gform_footer {
                @media only screen and (min-width: 767px) {
                    flex: 0 0 calc(80% - 1rem);
                    max-width: calc(80% - 1rem);
                    width: calc(80% - 1rem);
                    margin-left: auto;
                }
            }
        }
        &.wow-vc-style-3 {
            .gform_wrapper{
                .gform_body {
                    .gform_fields {
                        .gfield {
                            margin: 0 0 1rem 0;
                            border: 1px solid #e8e8e8;
                            padding: 0;
                            span {
                                label{
                                    display: none;
                                }
                            }
                            .ginput_container {
                                margin: 0;
                                padding: .5rem;
                                width: 100%;
                                input,
                                textarea,
                                select {
                                    margin: 0;
                                    background: none;
                                    font-size: inherit;
                                    font-family: inherit;
                                    padding: .5rem;
                                    letter-spacing: normal;
                                    border: 0;
                                    box-shadow: none;
                                }
                            }
                            label {
                                font-weight: normal;
                                display: block;
                                background: #f9f9f9;
                                padding: .5rem;
                                margin: 0;
                                width: 100%;
                            }
                            .ginput_container {
                                @media only screen and (max-width: 767px) {
                                    display: flex;
                                    flex-direction: column;
                                    box-sizing: border-box;
                                    width: 100%;
                                    padding: 0;
                                    margin: 0 !important;
                                    > * {
                                        padding: 0;
                                        display: block;
                                        width: 100%;
                                        flex: 0 0 100%;
                                        max-width: 100%;
                                        margin-bottom: 0;
                                        + * {
                                            border-top: 1px solid #e8e8e8;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: 767px) {
    .wow-vc-elements {
        &.wow-vc-gravityforms{
            &.wow-vc-style-1 {
                .gform_body {
                    .gform_fields {
                        .gfield {
                            .ginput_container {
                                > *:not(input,textarea,select) {
                                    padding: 0;
                                }
                                input,
                                textarea,
                                select {
                                    width: 100% !important;
                                }
                            }
                        }
                    }
                }
            }
            &.wow-vc-style-3 {
                .gform_wrapper {
                    .gform_body {
                        .gform_fields {
                            .gfield {
                                .ginput_container {
                                    padding: 0;
                                    > *:not(input,textarea,select) {
                                        padding: 0;
                                        border-right: 1px solid #e8e8e8;
                                        &:last-child {
                                            border-right: 0;
                                        }
                                    }
                                    input,
                                    textarea,
                                    select {
                                        width: 100% !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}